body{
    background-color: dimgray;
}
#main_container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 2%;
}
#text_container{
    background-color: slateblue;
    flex-grow: 1;
    flex-shrink: none;
    flex-basis: 100%;
    padding: 10%;
    border: red;
    border-style: dotted;
}
.inputBox{
width: 20%;
}